@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    font-family: 'Oranienbaum', Arial, Helvetica, sans-serif;
}

h1{
    margin-left: 500px;
}

 
nav.menu-lateral {
    width: 45px;
    height: 100%;
    background-color: rgb(202, 145, 206);
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #a24cb7;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    z-index: 100;
  }
  
  nav.menu-lateral:hover {
    width: 250px;
  }
  
  .btn-expandir {
    width: 100%;
    padding-left: 10px;
  }
  
  .btn-expandir > i {
    color: purple;
    font-size: 24px;
    cursor: pointer;
  }
  
  ul {
    height: 100%;
    list-style-type: none;
    padding: 0;
  }
  
  ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    align-items: center;
    line-height: 40px;
  }
  
  ul li.item-menu:hover {
    background: rgb(121, 43, 128);
  }
  
  ul li.item-menu a .txt-link {
    margin-left: 20px;
  }
  
  ul li.item-menu a .icon > i {
    font-size: 30px;
  }
  
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, rgb(209, 110, 255), rgb(250, 244, 255), rgb(130, 6, 146));
    background-image: url('../../imagens/fundo_branco.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center top;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

h3 {
    font-size: 20px;
    margin-top: 40px;
    margin-left: 650px;
    color: #0f0f0f;
}

.cards {
    display: flex;
    width: 500px;
    padding: 4px;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 30px;

}

.card {
    background-image: linear-gradient(163deg, #a45cb6 0%, #ad69fa 100%);
    box-shadow: 0px 4px 5px 6px rgba(108, 11, 128, 0.979);
    max-width: 180px;
    text-align: center;
    margin-bottom: 25px;
    font-family: arial;

    border-radius: 10px ;
    width: 220px;
    transition: all 0.25s cubic-bezier(0, 0, 0, 1);
    align-items: center;
    justify-content: center;

    
}

.card:hover {
    box-shadow:0px 5px 10px 7px rgba(204, 0, 255, 0.3);
    
}

.card2 {
  width: 180px;
  min-height: 20vh;
  background-color: #ffffff;
  border-radius: 10px;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
  cursor: pointer;
    
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 10px;
}



.card2 button {
    border: none;
    outline: 0;
    text-transform: none;
    color: rgb(255, 255, 255);
    background-color: #50096e;
    cursor: pointer;
    width: 100%;
    height: 10vh;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 8px;
}

a {
    
    text-decoration: none; 
    color: white;
}

.card2 button:hover {
    background-color: #79279c;
    color: #ffffff;
}




img{
    margin-top:5px;
    width: 150px;
    height: 14vh;
    margin-bottom: 20px;
}


  .container {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 33%;
    transform: translate(-50%, -50%); 
    width: 500px;
    background-color: rgb(188, 97, 204); 
    border-radius: 10px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.3);
    animation: containerAnimation 3s infinite alternate ease-in-out;
}

  
  @keyframes containerAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); 
    }
    100% {
        transform: translateY(0);
    }
  }
  