@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    font-family: 'Oranienbaum', Arial, Helvetica, sans-serif;
}

h1{
    margin-left: 500px;

}


nav.menu-lateral {
    width: 45px;
    height: 100%;
    background-color: rgb(202, 145, 206);
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #a24cb7;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    z-index: 100;
  }
  
  nav.menu-lateral:hover {
    width: 250px;
  }
  
  .btn-expandir {
    width: 100%;
    padding-left: 10px;
  }
  
  .btn-expandir > i {
    color: purple;
    font-size: 24px;
    cursor: pointer;
  }
  
  ul {
    height: 100%;
    list-style-type: none;
    padding: 0;
  }
  
  ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    align-items: center;
    line-height: 40px;
  }
  
  ul li.item-menu:hover {
    background: rgb(121, 43, 128);
  }
  
  ul li.item-menu a .txt-link {
    margin-left: 20px;
  }
  
  ul li.item-menu a .icon > i {
    font-size: 30px;
  }
  

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    ;
    background-color: rgb(255, 255, 255);
    /* background-image: linear-gradient(to bottom,#a900cf ,#d88ce7); */

    /* background-image: url('fundodaatela.png'); */
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center top;
    padding: 0;
    margin-bottom: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.banner-img {
    width: 700px ;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    border-radius: 10px 10px 15px 15px;
    height: 300px; 
        /* box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.548);  */
    object-fit: cover; 
}

#Frase-noticias {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 840px;
    font-size: 18px;
    margin-left: 600px;
    height: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    margin: 20px 0 20px 300px; 
    color: #ffffff;
    background-color: #bd02c4;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgb(51, 0, 53); */
    z-index: 4;
    white-space: pre-wrap;
}


p{
    font-family:Georgia, 'Times New Roman', Times, serif;

}
#form-news {
display: flex;
flex-direction: column;
align-items: center;
margin-left: 33%;
justify-content: center;
background-color: #ffffffbe;
border-radius: 7px;
font-family: Georgia, 'Times New Roman', Times, serif;

padding: 40px;
height: 350px; 

width: 500px; 
box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
z-index: 1; 
}


#Antesdasnoticias {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 870px;
    margin-bottom: 100px;
    font-size: 18px;
    /* margin: 60px 0px 20px 300px; */
    
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #c61ecc;
    padding: 5px 5px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgb(51, 0, 53); */
    text-align: center;
    z-index: 4;        
    white-space: pre-wrap;
}

#form-news h1 {
padding: 0;
margin: 0;
font-weight: 500;
font-size: 2em;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;

color: #333;
}

#form-news input {
padding: 15px;
font-size: 14px;
border: 1px solid   #ffffffbe;
;
background-color: #ffffffbe;
margin-bottom: 20px;
border-radius: 5px; 
transition: all linear 160ms;
outline: none;
width: 100%; 
}

#form-news button {
background-color: #bd02c4;
color: #fff;
height: 50px; 
font-size: 16px; 
width: 100%; 
border: none;
border-radius: 5px; 
transition: all linear 160ms;
cursor: pointer;
margin-top: 20px; 
}

#form-news button:hover {
transform: scale(1.05);
background-color: #860097;
}

.container {        
    margin: 20px auto;
    z-index: 3; 
    position: relative;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 320px;
    width: 800px;
    box-shadow: 0px 0px 8px 1px rgb(167, 165, 165);
}


.cards-container {
    width: 95%;
    margin-left: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
    color: #ffffff;


}
    
section {
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
    justify-content: space-between;
    /* margin-top: 20px; */

   
}

.card {
    /* background-color: #d534eb; */


    background-color: rgb(189, 117, 194);
    width: 900px;
    padding: 20px;
    height: 270px;
    margin-left: 80px;
    border: 2px solid rgb(255, 255, 255);
    border: 2px solid #a24cb7;
  margin-bottom: 100px;
    border-radius: 10px;        
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* margin-top: 100px; */

    justify-content: center;
    transition: transform 0.2s;

    
}

.card img {
    width: 300px;
    height: 100px;
    border-radius: 0%;
    margin-bottom: 10px;

}

.card:hover {
    transform: scale(1.05);
}

button {
    background-color: #720081;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(68, 0, 68);
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 300px;
    font-size: 18px;
    margin-top: 60px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #880ea0;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.card h3{
    color: #32003b;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
    margin-bottom: 20px;
}

.imagem {
    border: 1px solid rgb(255, 255, 255);
    height: 250px;
    border-radius: 0vw;
    width: 400px;
    border-radius: 10px; 
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; 
}

.info_noticias {
    display: flex;
    align-items: center;

    justify-content: space-evenly;
    flex-direction: column;
    height: 250px;
    width: 450px;
}

.secao2 {
    background-color: #eec2ffbe;
    height: 650px;
}




@media screen  and (min-width: 50px) and (max-width: 1013px) {
 


    nav.menu-lateral:hover {
        width: 200px;
    }
    
    ul li.item-menu a {
        font-size: 16px;
        padding: 15px;
        margin: 10px 0px    ;
        margin-right: 10px;
        align-items: center;
        justify-content: center;
    }
    
    nav.menu-lateral {
        width: 100%;
        height: auto;
        background-color: rgb(202, 145, 206);
        padding: 10px ;
        box-shadow: 3px 0 0 #a24cb7;
        position: fixed;
        top: 90vh;
        left: 0;
        transition: width 0.3s ease;
        overflow: hidden;
        white-space: nowrap;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    
    nav.menu-lateral ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    
    nav.menu-lateral:hover {
        width: 100%;
    }
    
    ul li.item-menu a {
        visibility: visible;
        margin-left: 8px;
        margin-right: 5px;        
    }
    
    ul li.item-menu a .txt-link {
        display: none;
    }


h1{
    margin-left: 500px;

}



body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    ;
    background-color: rgb(255, 255, 255);
    /* background-image: linear-gradient(to bottom,#a900cf ,#d88ce7); */

    /* background-image: url('fundodaatela.png'); */
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center top;
    padding: 0;
    margin-bottom: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
}



#Antesdasnoticias {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-bottom: 100px;
    margin-right: 40px;
    font-size: 15px;
    
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #c61ecc;
    padding: 5px 5px;
    border-radius: 8px;
    text-align: center;
    z-index: 4;        
    white-space: pre-wrap;
}


.container {        
    margin: 20px auto;
    z-index: 3; 
    position: relative;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 420px;
    box-shadow: 0px 0px 8px 1px rgb(167, 165, 165);
}
.banner-img {
    width: 400px ;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 15px 15px;
    height: 200px; 
        /* box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.548);  */
    object-fit: cover; 
}



.cards-container {
    width: 90%;
    margin-left: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 13px;
    color: #ffffff;

    margin-bottom: 0px;
}
    
section {
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
    justify-content: space-between;
    /* margin-top: 20px; */

   
}

.card {
    /* background-color: #d534eb; */


    background-color: rgb(189, 117, 194);
    width: 350px;
    padding: 20px;
    height: 180px;
    margin-right: 120px;
    border: 2px solid rgb(255, 255, 255);
    border: 2px solid #a24cb7;
  margin-bottom: 100px;
    border-radius: 10px;        
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* margin-top: 100px; */

    justify-content: center;
    transition: transform 0.2s;

    
}

.card img {
    width: 100px;
    height: 70px;
    border-radius: 0%;
    margin-bottom: 10px;

}

.card:hover {
    transform: scale(1.05);
}

button {
    background-color: #720081;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(68, 0, 68);
    padding: 5px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 200px;
    height: 30px;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #880ea0;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.card h3{
    color: #32003b;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    margin-top: 30px;
}

.imagem {
    border: 1px solid rgb(255, 255, 255);
    height: 150px;
    border-radius: 0vw;
    width: 630px;
    border-radius: 10px; 
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; 
}


}