body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
    background: linear-gradient(315deg, rgb(78, 9, 97) 3%, rgb(251, 207, 255) 38%, rgb(97, 38, 146) 68%, rgb(138, 13, 196) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 1; 
}

.waves-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 12em; 
    z-index: 0; 
}

.wave {
    background: rgba(203, 71, 255, 0.25);
    border-radius: 1000% 1000% 0 0;
    position: absolute;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 40px;
    height: 350px;
    width: 300px;
    margin-bottom: 100px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    z-index: 1; 
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 80px;
    transition: all linear 160ms;
    outline: none;
}

#saveLogin {
    display: none;
}

#saveLogin:checked + .formLogin #email,
#saveLogin:checked + .formLogin #senha {
    background-color: #e1e1e1;
}

#saveLogin + label {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all linear 160ms;
}

#saveLogin:checked + label {
    color: #000000;
}
/* 
a {
    text-decoration: none;
    color: black;
    margin-left:70px;
    margin-bottom: 10px;
}

a:hover {
    text-decoration: underline;
} */


.background-img {
    margin-left: 30px;
    width: 50%;
    justify-content: center;
    max-width: 250px;
    height: auto;
    z-index: 1;
}

h3 {
    color:white;
    font-family: Georgia;
    z-index: 2;
}
.btn {
    background-color: #bd02c4; /* Cor de fundo igual ao botão de cadastrar como médica */
    color: #fff; /* Cor do texto igual ao botão de cadastrar como médica */
    font-size: 14px; /* Ajuste o tamanho da fonte para combinar com o botão de cadastrar como médica */
    border: none; /* Remove a borda padrão do botão */
    border-radius: 20px; /* Bordas arredondadas semelhantes ao botão de cadastrar como médica */
    padding: 10px 20px; /* Ajuste o preenchimento para ficar mais semelhante ao botão de cadastrar como médica */
    transition: background-color 160ms linear, transform 160ms linear; /* Transições para efeito hover */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse sobre o botão */
    text-align: center; /* Centraliza o texto dentro do botão */
    display: inline-block; /* Garante que o botão seja exibido como um bloco em linha */
    margin: 10px 0; /* Margens para espaçamento em torno do botão */
    text-decoration: none; /* Remove a decoração de texto padrão dos links, se houver */
}

.btn:hover {
    background-color: #860097; /* Cor de fundo ao passar o mouse, semelhante ao botão de cadastrar como médica */
    transform: scale(1.05); /* Leve aumento de escala ao passar o mouse */
}
.btn-cadastrar {
    display: inline-block;
    background-color: #bd02c4; /* Cor de fundo igual ao botão "Acessar" */
    color: #fff; /* Cor do texto igual ao botão "Acessar" */
    font-size: 14px; /* Tamanho da fonte igual ao botão "Acessar" */
    border: none; /* Remove a borda padrão */
    border-radius: 20px; /* Bordas arredondadas semelhantes ao botão "Acessar" */
    padding: 10px 20px; /* Preenchimento para ajustar o tamanho do botão */
    text-align: center; /* Centraliza o texto dentro do botão */
    text-decoration: none; /* Remove o sublinhado do link */
    transition: background-color 160ms linear, transform 160ms linear; /* Transições suaves para efeito hover */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    margin: 10px 0; /* Margens para espaçamento em torno do botão */
}

.btn-cadastrar:hover {
    background-color: #860097; /* Cor de fundo ao passar o mouse */
    transform: scale(1.05); /* Leve aumento de escala ao passar o mouse */
}
