* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, rgb(209, 110, 255), rgb(250, 244, 255), rgb(130, 6, 146));
    background-image: url('../../imagens/fundo_inicio.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center top;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}


.amparos {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 130px;
    font-size: 50px;
    color:#6d0d85;
    margin-left: 650px;
}
/* 
.img-amparos {
    height:200px;
    width: 500px;
    margin-bottom: 170px;
    box-shadow: 10px 10px 10px 10px solid black;
    margin-left: 500px;
} */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 10;
}

.overlay-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#info-text {
    position: absolute;
    right: 20px; 
    font-size: 20px;
    width: 600px; 
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 10px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgb(51, 0, 53); 
    text-align: center; 
    
    z-index: 4; 
}
#info-text ul {
    padding-left: 20px; 
    
    list-style-type: disc; 
    margin-top: 10px; 
    text-align: left; 
}

#info-text li {
    margin-bottom: 10px; 
    font-size: 18px; 
}
#panic-instruction {
    position: absolute; 
    top: 160px; 
    right: 260px; 
    width: 360px; 
    font-size: 18px; 
    color: #000; 
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 10px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgb(51, 0, 53);
    text-align: center; 
    z-index: 4; 
}

#panic-button {
    position: absolute; 
    top: 150px; 
    right: 100px; 
    width: 80px;
    height: 80px;
    border: 10px solid #ffffff;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 20px 2px rgba(226, 111, 255, 0.6);
    transition: transform 0.2s, box-shadow 0.5s ease;
    overflow: hidden;
    animation: amplify-pulse 1.5s infinite;
    z-index: 3;
}

#panic-button img {
    width: 70%;
    height: 90%;
    object-fit: contain; 
}

@keyframes amplify-pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 20px 2px rgb(253, 53, 53);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 30px 15px rgb(226, 14, 14);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 20px 2px rgb(117, 4, 4);
    }
}

#panic-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(255, 198, 198);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease-out;
    z-index: -1;
    opacity: 0;
}

#panic-button:active::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}


nav.menu-lateral {
    width: 50px;
    height: 100%;
    background-color: rgb(202, 145, 206);
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #a24cb7;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    z-index: 100; 
}

nav.menu-lateral:hover {
    width: 250px;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i {
    color: purple;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
    padding: 0;
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    align-items: center;
    line-height: 40px;
}

ul li.item-menu:hover {
    background: rgb(121, 43, 128);
}

ul li.item-menu a .txt-link {
    margin-left: 20px;
}

ul li.item-menu a .icon > i {
    font-size: 30px;
}

