@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    font-family: 'Oranienbaum', Arial, Helvetica, sans-serif;
}

h1 {
    margin-left: 500px;
}

 
nav.menu-lateral {
    width: 45px;
    height: 100%;
    background-color: rgb(202, 145, 206);
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #a24cb7;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    z-index: 100;
  }
  
  nav.menu-lateral:hover {
    width: 250px;
  }
  
  .btn-expandir {
    width: 100%;
    padding-left: 10px;
  }
  
  .btn-expandir > i {
    color: purple;
    font-size: 24px;
    cursor: pointer;
  }
  
  ul {
    height: 100%;
    list-style-type: none;
    padding: 0;
  }
  
  ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    align-items: center;
    line-height: 40px;
  }
  
  ul li.item-menu:hover {
    background: rgb(121, 43, 128);
  }
  
  ul li.item-menu a .txt-link {
    margin-left: 20px;
  }
  
  ul li.item-menu a .icon > i {
    font-size: 30px;
  }
  
body {
    background: linear-gradient(to bottom, rgb(209, 110, 255), rgb(250, 244, 255), rgb(126, 104, 255));
    background-image: url('/front/imagens/fundo_branco.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Dadosdousuario {
    background-color: rgb(162, 20, 228);
    border-radius: 15px;
    padding: 40px;
    width: 900px;
    height: 800px;
    text-align: center;
    box-shadow: 0px 0px 30px 10px rgb(255, 255, 255);
}

.profile {
    margin-bottom: 20px;
}

h2 {
    color: white;
    font-size: 1.5em;
    margin: 0;
}

.user-info button {
    width: 300px;
    margin-top: 20px;
    color: #ffffff;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
    background-color: #45004d;
}

#perfilImagem {
    border-radius: 20px;
    height: 150px;
    width: 150px;
}

.user-info {
    margin-top: 10px;
}

/* Estilos para o formulário */
#formLogin {
    display: block;
    font-family: Arial, sans-serif;
    width: 40%; /* Faz com que ocupe 100% do espaço disponível */
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#formLogin label {
    font-size: 1.1em;
    margin-bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    color: #333;
    display: block;
}

#formLogin input {
    display: block;
    width:93%; /* Ocupa toda a largura */
    padding: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 8px 0 15px 0;
    border-radius: 8px;
    border: 2px solid #a24cb7;

    background-color: #f0f0f0;
    font-size: 1em;
    transition: all 0.3s ease;
}

#formLogin input:focus {
    outline: none;
    border-color: #9b3fa1;
    background-color: #e8d9f1;
    box-shadow: 0 0 8px rgba(162, 76, 183, 0.5);
}

#formLogin button {
    display: block;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;

    background-color: #a24cb7;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

#formLogin button:hover {
    background-color: #9619af;
}

/* Centralizando o botão de salvar */
#formLogin .user-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

#editarButton {
    display: inline-block;
    background-color: #6b006e;
    color: #fff;
    font-size: 14px;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 160ms linear, transform 160ms linear;
    cursor: pointer;
    margin: 10px 0;
}

/* Estilos da imagem de perfil */
#imagemPerfil {
    display: none;
    width: 200px;
    height: 170px;
}

h2 {
    color: black;
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* Estilos do card */
.card {
    background-color: #efb0ff;
    border: #dd53ff solid;
    width: 900px;
    height: 550px;
    text-align: center;
    margin-bottom: 25px;
    font-family: arial;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}



@media screen  and (min-width: 50px) and (max-width: 1013px) {
 


    nav.menu-lateral:hover {
        width: 200px;
    }
    
    ul li.item-menu a {
        font-size: 16px;
        padding: 12px;
        align-items: center;
        justify-content: center;
    }
    
    nav.menu-lateral {
        width: 100%;
        height: auto;
        background-color: rgb(202, 145, 206);
        padding: 15px;
        box-shadow: 3px 0 0 #a24cb7;
        position: fixed;
        top: 90vh;
        left: 0;
        transition: width 0.3s ease;
        overflow: hidden;
        white-space: nowrap;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    
    nav.menu-lateral ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    
    nav.menu-lateral:hover {
        width: 100%;
    }
    
    ul li.item-menu a {
        visibility: visible;
        margin-left: 8px;
        margin-right: 12px;        
    }
    
    ul li.item-menu a .txt-link {
        display: none;
    }
    
/* Estilos do card */
.card {
    background-color: #efb0ff;
    border: #dd53ff solid;
    width: 400px;
    height: 550px;
    text-align: center;
    margin-bottom: 25px;
    font-family: arial;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
}    